nav{
    font-size: 1em;
    font-weight:bold;
    border: 2px solid black;
    margin-left: 39%;
    margin-right: 39%;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(248, 243, 236);
}